services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: surpluslink-backend-prod
    ports:
      - "5000:5000"
    env_file:
      - .env.prod
    restart: always
    networks:
      - surpluslink-prod-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: surpluslink-frontend-prod
    ports:
      - "80:80"
    env_file:
      - .env.prod
    depends_on:
      - backend
    restart: always
    networks:
      - surpluslink-prod-network

networks:
  surpluslink-prod-network:
    driver: bridge
